<%# 

# Components
## After
components/hintButtonsSetup

# Parameters
- name: string
Name of the field for this hint button.
- icon?: string?
Icon file name. Defaults to "_Anking_v3.png".
- noText?: boolean
If true, don't display text on button. Defaults to `false`.

# Notes
- onclick is attached to the elements instead of in hintsButtonsSetup
  because in IO one by one, closet removes the listeners attached
  attached to the element.

_%> 
<% 
  if(noText === undefined) {
    var noText = false
  }
  const iconSrc = icon ? icon : "_Anking_v3.png"

  const id = name.replace(/ /g, "_")
  const linkId = `l-${id}`
  const buttonId = `b-${id}`
  const hintId = `h-${id}`
_%>
{{#<%- name %>}}
<a id="<%- linkId %>" href="#" class="hint" onclick='toggleHintBtn("<%- id %>")'></a>
<button id="<%- buttonId %>" class="button-general" onclick='toggleHintBtn("<%- id %>")'>
  <img src="<%- iconSrc %>"> <% if (!noText) { %><%- name %><% } %>
</button>
<div id="<%- hintId %>" class="hints" style="display: none;">{{edit:<%- name %>}}</div>
{{/<%- name %>}}